@media screen and (max-width: 520px) {
  /* tab */
  .tab {
    font-size: 9pt;
  }
  /* Setting Board */
  .setting-board {
    width: 330px;
    height: 37em;
    /* overflow-y: auto;
    scrollbar-color:  #cececebb #fff;
    scrollbar-width: thin;
    scroll-margin: 40px 0;
    scroll-behavior: smooth !important; */
  }
  
  /* .setting-board::-webkit-scrollbar{
    width: 3px !important;
    scroll-behavior: smooth !important;
  }
  .setting-board::-webkit-scrollbar-thumb{
    background-color: #cececebb !important;
    border-radius: 10px !important;
  } */
  .setting-timer-grid {
    padding: 0 30px 20px 20px;
    grid-template-columns: 1fr;
    display: grid;
  }
  .setting-timer-grid div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .setting-timer-grid input {
    margin-bottom: 10px;
    width: 150px;
  }
  .setting-board-content hr {
    width: 250px;
  }
  .setting-board-subtitle {
    text-align: center;
    margin-right: 10px;
  }
  .setting-colour div {
    margin-top: 5px;
    width: 40px;
    height: 45px;
  }
  .setting-colour-tick {
    margin-top: 8px;
  }
  .setting-board-apply-btn {
    margin-bottom: 20px;
  }
}
